/* 

	Arquivo CSS geral com estilos dos elementos de todas páginas 

*/

* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* equivalente a 10px */
}
body {
	background-color: #f1f1f1;
}
h1 {
	font-size: 60px;
  text-shadow: 2px 1px 1px #111;
}
h2 {
	font-size: 50px;
  text-shadow: 2px 1px 1px #111;
  text-align: center;
  margin-top: 15px
}
.justh2 {
  text-align: left;

  }
form {
	background: #eee;
	padding: 10px;
}
form div {
	background: #fff;
	margin: 5px;

}
label {
	margin-bottom: 1rem;
	font-size: 1.4rem; 
	font-family: sans-serif;
	font-weight: bold;
	color: #66F;
}
input {
	padding: 1rem;
}
[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;
}
header {
  background-color: #333;
  padding: 20px 30px;
  text-align: center;
  color: white;
}
header img{
  width: 200px;

}


nav {
  float: left;
  width: 30%;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #eee;
  padding: 25px;
  text-align: center;
  color: white;
  height: 60px;
  font-weight: bold;
  font-size: 12px;
}

.fixed-width {
  width: auto;
  margin: 40px auto;
  text-align: center;

}
.coluna {
  display: block;
  width: 33,3%;
  float: left;
  padding: 5px;

}

.coluna-3 {
  columns: 150px 3;
  width: 100%;
  font-size: 1.6rem;
  height: 200px;
}

iframe {
  width: 100%;
  margin-top: 10px;

}
/* tela pc*/

@media (max-width: 1024px) {

  .coluna, .coluna-3{
  columns: auto;
  width: 100%;
  display: block;
  height: auto;
  }
/* tela Smartfone*/
}
@media (max-width: 540px) {
  nav, article {
    width: 100%;
    height: auto;
  }
  #grafico-01  {
    width: 50px;
   
  }
}